* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(75, 73, 73);
    align-items: center;
    /* width: 320px; */
}

.title-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 85);
    width: 100%;
    height: 60px;
    position: fixed;
}

.heading {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px 0;
    padding: 10px 0;
}

#notification {
    display: none;
    font-size: 15px;
}

.title,
.notes {
    color: white;
    font-size: 24px;
    margin: 10px;
}

.title {
    margin-top: 70px;
}

.notes textarea,
.title input {
    border: 1px solid blue;
    border-radius: 5px;
    padding: 3px 5px;
    width: 310px;
}

.notes textarea {
    height: 100px;
}

.btn {
    background-color: rgb(0, 0, 85);
    color: white;
    padding: 3px 20px;
    border-radius: 5px;
    border: none;
    font-size: 22px;
    cursor: pointer;
}

#edit_and_save-btn{
    display: none;
}

.btn:hover {
    background-color: rgb(2, 2, 117);
    font-size: 23px;
}

.saved-heading {
    color: rgb(255, 255, 230);
    margin: 20px 5px;
    font-size: 20px;
}
#saved-title {
    display:flex;
    align-items: center;
}
#saved-title h3 {
    width: 90%;

}

#saved-notes{
    display:flex;
    align-items: center;
}

#saved-notes p {
    width: 90%;

}

#display-notes {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
}

#display-notes h3 {
    color: rgb(233, 233, 0);
}

#display-notes p {
    color: white;
}

.show-items {
    margin: 2px;
    background-color: rgb(52, 52, 61);
    padding: 5px;
    border-radius: 5px;
    width: 310px;
}

.empty-notes {
    display: none;
    color: white;
}

.fa, .fa-trash {
    color: red;
    padding: 10px;
    cursor: pointer;
}
.fa-edit {
    color: white;
    padding: 10px;
    cursor: pointer;
}

.footer-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.658);
    background-color: rgb(110, 110, 150);
    width: 100%;
    height: 60px;
}
